.contact {
  @extend .list-unstyled, .list-inline;

  &__item {
    @extend .list-inline-item;

    @include media-breakpoint-up(lg) {
      &:not(:last-of-type) {
        margin-right: 40px;
      }
    }

    @include media-breakpoint-between(sm, md) {
      width: 62px;
      text-align: center;
    }

    &--share {
      &:not(:last-of-type) {
        margin-right: 40px;
      }
    }
  }

  &__img {
    @include media-breakpoint-down(sm) {
      width: 50px;
      text-align: center;
    }
  }
}