.description {
  @extend .dark;

  &__container {
    @extend .container;
    @include media-breakpoint-down(md) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(lg) {
    &__text {
      width: 590px;
    }
  }
}
