.footer {
  @extend .dark;

  &__container {
    @extend .container;
    @include media-breakpoint-down(md) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 50px;
  }

  &__copyright {
    color: #ACACAC;
  }
}
