.header {
  @include media-breakpoint-down(md) {
    padding-bottom: 50px;
  }

  &__container {
    @include media-breakpoint-up(lg) {
      height: 730px;
    }
    @extend .container;
    position: relative;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -20;
  }

  &__content {
    @include media-breakpoint-up(lg) {
      left: 290px;
      top: 346px;
      position: absolute;
    }
    @include media-breakpoint-down(md) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &__description {
    @include media-breakpoint-up(lg) {
      width: 270px;
      position: absolute;
      right: -220px;
      top: -150px;
    }
  }

  &__title {
    @include media-breakpoint-up(lg) {
      line-height: 78px;
      font-size: 80px;
    }
    width: 340px;
    line-height: 50px;
    font-size: 50px;
    text-transform: uppercase;
  }

  &__scroll {
    @include media-breakpoint-down(md) {
      display: none;
    }
    margin-top: 100px;
  }

  &__hamburger {
    width: 40px;
    height: 40px;
  }
}