.share {
  &__container {
    @include media-breakpoint-up(lg) {
      height: 115px;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
    @include media-breakpoint-down(md) {
      padding: 40px;
    }
    @extend .container;
    display: flex;
    flex-direction: column;
  }

  &__side {
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      display: flex;
      align-items: center;
    }
    @include media-breakpoint-down(md) {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  &__contact {
    line-height: 63px;
    margin: 0;
  }

  &__label {
    @include media-breakpoint-up(lg) {
      margin-right: 30px;
    }
    font-size: 16px;
  }
}
