body {
  font-family: 'Work Sans', Arial, serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
  overflow-x: hidden
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

nav {
  background-color: #131152;
}

footer {
  text-align: center;
}

h1 {
  font-weight: bold;
  line-height: 29px;
  font-size: 30px;
}

a {
  &,
  &:focus,
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.dark {
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  padding: 70px 0;
  background-color: #1C1C1C;
}